<div class="product-card">
    {{log this}}
    <a href="/posts/{{this.id}}">
        <img class="product-img" src="/{{this.thumbnail}}" alt="{{this.title}}">
    </a>
    <div class="product-info">
        <p class="product-title">{{this.title}}</p>
        <p class="product-cost">{{this.description}}</p>
    </div>
</div>