<div class="video-card">
    {{log this}}
    <a href="/posts/{{this.id}}">
       <!-- <img class="video-img" src="/{{this.thumbnail}}" alt="{{this.title}}"> -->
        <div class="card-content">
            <img class="video-img" src="/{{this.thumbnail}}" alt="{{this.title}}">
            <div class="video-info">
                <p class="video-title">{{this.title}}</p>
                <p class="video-description">{{this.description}}</p>
            </div>
        </div>
    </a>
 <!--   <div class="video-info">
        <p class="video-title">{{this.title}}</p>
        <p class="video-description">{{this.description}}</p>
    </div> -->
</div>